/* .PathEditorPage {
  z-index: 10;
  width: 100vw;
  height: calc(100vh - 7.8rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.Background {
  background-color: var(--black);
  padding-top: 2rem;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: calc(100vh - 9.8rem);
  overflow-y: auto;
}

.Heading {
  color: var(--white);
  font-size: 2rem;
  padding: 2rem;
}

.AddCollectionButton {
  border-radius: 10px;
  border: 1px solid var(--gray);
  background-color: var(--white);
  color: var(--gray);
  cursor: pointer;
  font-size: 2.4rem;
  margin-top: 5rem;
  padding: 1rem 3.2rem;
}

.AddCollectionButton:hover {
  color: var(--white);
  background-color: var(--gray);
}

.Card {
  box-shadow: var(--shadow-closest);
  width: 25.6rem;
  border-radius: 1rem;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.Title {
  font-size: 2rem;
  padding: 1.2rem;
}
